<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script>
        function toggleVisibility(id) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <a href="{{ url_for('generate_key') }}" class="btn">Gerar Nova Chave</a>
        <a href="{{ url_for('logout') }}" class="btn">Logout</a>

        <h2>Alterar Senha</h2>
        <form action="{{ url_for('change_password') }}" method="post">
            Senha Atual: <input type="password" name="current_password"><br>
            Nova Senha: <input type="password" name="new_password"><br>
            Confirmar Nova Senha: <input type="password" name="new_password2"><br>
            <input type="submit" class="btn" value="Alterar Senha">
        </form>

       <h2>Minhas Chaves</h2>
        {% for key in keys %}
            <div class="card">
                <button onclick="toggleVisibility('key-details-{{ key.id }}')">Mostrar/Ocultar Detalhes</button>
                <div id="key-details-{{ key.id }}" style="display: none;">
                    <p><strong>Chave:</strong> {{ key.key_value }}</p>
                    <p><strong>Contrachave:</strong> {{ key.contrachave }}</p>
                </div>
                <p><strong>Cliente:</strong> {{ key.cliente }}</p>
                <p><strong>Data e Hora:</strong> {{ key.data_hora.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <a href="{{ url_for('download_chave', key_id=key.id) }}" class="btn">Download Chave</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>